.header-contacts {
  display: none;
  @media screen and (min-width: 768px) {
  display: block;
  padding: 0;
  margin: 0;
 }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }


  &__item {
    color: $color-description;
    &:hover,
    &:focus {
      color: $color-accent;
    }
  }

  &__item:last-child {
    margin-left: 40px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 0;
    }
  }
  &__item:first-child {
    margin-left: 0;
  }
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

}
   
 .header-contacts__link {
  @include centeredFlex($display: inline-flex);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: $color-description;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color $tr-time $tr-spread;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      align-items: left;
      padding: 0;
    }

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }

   .envelope-intouch-icon,
  .smartphone-intouch-icon {
    fill: currentColor;
    margin-right: 10px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 8px;
  }
}