.hero {
  text-align: center;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $color-base;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @include desktop {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
