footer > .container {
  display: block;
  text-align: center;

  /*@media screen and (min-width: 1200px) {
    @include centeredFlex($align: baseline);
  }*/
}

.connection {
  display: inline-block;
  text-align: center;
  align-items: baseline;
  @media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 76px;
  padding-right: 86px;}

  @media screen and (min-width: 1200px) {
    @include centeredFlex($align: baseline);
    gap: 93px;
}
}

.footer-content {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.icons-container {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.join {
    color: $color-base;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }