.examples {
  @extend %list;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-right: -30px;
    margin-bottom: -30px;

    &__item {
      flex-basis: calc(100% - 30px);
      margin-right: 30px;
      margin-bottom: 30px;
    }

      @include tablet {
        flex-direction: row;
        
        &__item {
          flex-basis: calc(100% / 2 - 30px);
          margin-right: 30px;
          margin-bottom: 30px;
        }
      }

      @include desktop {
        &__item {
          flex-basis: calc(100% / 3 - 30px);
          margin-right: 30px;
          margin-bottom: 30px;
        }
      }
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    cursor: pointer;

    &:hover,
    &:focus {
            border: 1px solid #eeeeee;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
              1px 4px 6px rgba(0, 0, 0, 0.16);}

    &-thumb {
        position: relative;
        width: 100%;
        background: $color-base;
        overflow: hidden;
      }

      &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        opacity: 0;
        transition: opacity $tr-time $tr-spread, transform $tr-time $tr-spread;
      }

      &__info {
        position: absolute;
        top: 0;
        left: 0;
        @include centeredFlex ();
        width: 100%;
        height: 100%;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: $color-base;
        opacity: 0;
        transition: opacity $tr-time $tr-spread $tr-delay, transform $tr-time $tr-spread $tr-delay;
      }

      &__text {
        padding: 63px 24px;
      }
      &__content {
        padding: 20px 24px;
        border: 1px solid #eeeeee;
        border-top: none;
        flex-grow: 1;
  }
  &__title {
    color: $color-primary;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  &__subtitle {
    color: $color-description;
    font-size: 16px;
    line-height: 1.88;
  }
  &:hover &-overlay,
  &:hover &__info {
    opacity: 1;
    transform: translateY(0);
  }
}
