.hero-container {
  padding-top: 118px;
  padding-bottom: 118px;

  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.section-partners {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team {
  text-align: center;
  background-color: $color-buttoncalm;
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-do {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  padding-top: 0;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.section-adv,
.section-portf {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/*.section-adv {
@include mobile
{width: 480px;}
@include tablet
{width: 768px;}
@include desktop 
{width: 1200px;}
}*/

/*.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
*/