    $color-base: #ffffff;
    $color-accent: #2196f3;
    $color-buttonhover: #188ce8;
    $color-buttoncalm: #f5f4fa;
    $color-eyemagnet: #2f303a;
    $color-primary: #212121;
    $color-logo: #000000;
    $color-description: #757575;
    $color-icons: #afb1b8;
    $tr-time: 250ms;
    $tr-spread: cubic-bezier(0.4, 0, 0.2, 1);
    $tr-delay: 100ms;
  